// fonts
$headingFontFamily: "Times New Roman", Times, serif;
$standardFontFamily: 'Hind', sans-serif;
$bodyFont:#333; 
$font-size-base:14px;

//colours
$primaryColour:#666; 
$secondaryColour:#ccc; 
$primaryColourText:#fff;
$secondaryColourText:#666;
$emphasisColour:#333; 
$bgwrap:#eee;

// Social icons
$facebook:#3B5998;
$linkedin:#007BB6;
$pinterest:#CB2027;
$skype:#02B4EB; 
$twitter:#2CAAE1;
$tumblr:#304E6C;
$youtube:#B10503;
$google-plus:#DD4B39;
$github:#000000;
