@import 'compass/css3'; /* imports compass mixins */
@import 'variables'; 

/* fonts  */

body { 
    font-family: $bodyFontFamily;  
	font-size: 16px;
}
/*
h1, h2, h3, h4, h4, h5, h6 {
    font-family: $headingFontFamily; 
    letter-spacing: 1px;
}

h1 {font-size:($font-size-base * 1.75);} // 2.8rem = 28px
h2 {font-size:($font-size-base * 1.5); }
h3 {font-size:($font-size-base * 1.25);}
h4 {font-size:($font-size-base * 1.125);}
h5 {font-size:($font-size-base * 1);}
h6 {font-size:($font-size-base * 0.875);}
p, li {font-size: $font-size-base;} 
*/


/* content */

#content { 
    min-height:450px;
	li {
    list-style-type: none;
	}
}

/* misc */
.row {
    margin-bottom:0;
}
section {
	margin-top:15px;
	margin-bottom:15px;
	}
.marginTop {
    margin-top:15px;
}
.marginBottom {
    margin-bottom:15px;
}
.alignLeft {
	text-align:left;
	}
.alignRight {
	text-align:right;
	}
img.alignleft {
    float:left; 
    margin-right:20px;
}
img.alignright {
    float:right; 
    margin-left:20px;
}
.aligncenter, img.aligncenter { 
	display: block; margin-left: auto; margin-right: auto; 
}
.clearfix {
    clear:both;
}


/* wraps */

.wrapPrimary {
    background-color:$primary-color;
}
.wrapSecondary {
    background-color: $primary-color-light;
}
.bgwrap {
    background-color: $primary-color-light;
}

/* header */

#topbar {
    color:$primary-color-light;
}

.header {

}
.sitelogo img {
	width:100%;	
	max-width:280px;
	min-width:220px;
}

.sitename {
	font-family: $headingFontFamily;
	font-size: 6.0rem;
}
#headersubpage {
    height:195px;
	position:relative;
    background-image: url(http://placehold.it/590x195);
    background-position: right;
    background-repeat: no-repeat;
	.sitenamebg {
	position:absolute;
	right:0px;
	top:0px;
    }
	.sitename {
	position:absolute;
	top:10px;
    }
}



/* featured sections */

.featured {
	text-align:center;
}
.featuredBox {
	margin:15px 0;
	p { padding:20px;
	}
}	
.featuredTitle {
	padding:20px;
	color:$primary-color-text;
	h2 {
		color:$primary-color-text;}
	.fa {
		font-size:60px;}
}

.featured {
	.box1, .box2, .box3, .box4 {
	background-color:$primary-color; 
	@include border-radius($boxRadius); 
	}
}

/* about me */

.circleImg {
	margin:20px auto;
	width: 300px;
	height: 300px;
	@include border-radius(150px); // compass mixin
	background: url(http://placehold.it/300x300) no-repeat;
	}
	


/* footer */

#prefooter {
    color:$primary-color-text;
}
#footer {
    color:$primary-color-text;
    min-height:210px;
	text-align:left;
    margin-top:10px;
	ul {
	margin-left:-40px;
	}
	li {
	list-style-type:none;
	color:$primary-color-text;
	}
	a {
	color:$primary-color-text;
	}
}

.copyright { 
	margin-top:40px;
}

.designedBy {background-image: url(../img/designedbysprite.jpg);
	background-position:0 0;
	width:89px;
	height:29px;
	float:right;
	background-repeat:no-repeat;
	overflow:hidden;
	margin-top:30px;
}
.designedBy:hover{background-image: url(../img/designedbysprite.jpg);
	background-position:0 -29px;
}

/* site social icons */
ul.social-links {
		margin:10px 0;
	}
.social-links {
    h2 {
    position: absolute;
    margin-left: -9999px; 
    }

    li {
        margin-right:15px;
		list-style:none;
		display:inline;
    }
    li a {
        overflow: hidden; 
     }
    .fa:hover {
        color: $primary-color-text; 
		text-decoration:none;
    }
    .fa {
        color: $primary-color-text; 
        font-size: 16px;
    }
}





/*  Bootstrap */

/* forms */

.form-group {
	.form-control {
		width:240px;
		margin-right:20px;
	}
}

/* menu */

.navbar-default {
    background-color: $primary-color-light;
    border-color: $primary-color-light;
}
.navbar {
	border-radius:0;
}



/* buttons */
 
.btn {
	background-color:$primary-color;
	color:$primary-color-text;
	font-size:1.8rem;
	@include border-radius($btnRadius); 
	:hover {
	background-color:$accent-color;
	color:$primary-color-text;
	}
	.fa {
	padding-left:10px;
	}
}

/*  End Bootstrap */





/* js plugins */

/* slideshow */

.slideshow img {
    width:100%;
}
.cycle-pager {
    position:absolute;
    bottom:0px;
    right:10px;
    color:$primary-color;
    font-size: 4rem;
    z-index:999;
    cursor:pointer;
}
.cycle-pager-active {
    color:$primary-color-text;
}


/* carousel */
.owl-item img 	{
	@include border-radius($boxRadius); 
}
.owl-item .title {
    text-align: right; 
}
.owl-prev:before, .owl-next:before  {
    font-size: 30px;
    color: $primary-color;
    float: left;
    position: absolute;
    top: 53px;
    padding:20px;
    background-color: $primary-color-text;
    opacity: 0.8;
}
.owl-next:before {
    font-family: 'Glyphicons Halflings';
    content: "\e080";
    right: -30px;
}
.owl-prev:before {
    font-family: 'Glyphicons Halflings';
    content: "\e079";
    left: -30px;
}
/* End js plugins */





/* responsive adjustments */

/* small phones */
@media only screen and (max-width : 480px) {
	.slideshow {display:none;}
}

/* Extra Small Devices, Tablets - col-xs-x */
@media only screen and (max-width : 768px) {
	.nav {text-align:right;}
}

/* Small Devices, Desktops - col-sm-x  */
@media only screen and (min-width : 768px) {
	.navbar {
		margin-bottom:0px;
	}
}
/* Medium Devices, Wide Screens - col-md-x */
@media only screen and (min-width : 992px) {

}

/* Larger Devices, Wide Screens - col-ld-x */
@media only screen and (min-width : 1200px) {

}
